@using System.Collections
@using TreeApp.Models
@section head{
    @Styles.Render("~/Content/Tree.css")
}
@section scripts{
    @Scripts.Render("~/Scripts/tree.js")
}
@model List<Activities>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

<div class="panel panel-primary">
    <div class="panel-heading panel-head">Activities</div>
    <div id="frm-author" class="panel-body">
        <div class="tree">
            @{ Html.RenderPartial("~/Views/Partial/Activity.cshtml", Model); }
        </div>
        <div class="form-group">
            <div class="col-lg-9"></div>
            <div class="col-lg-3">
                <button class="btn btn-primary btn-md" id="AddRoot" type="submit">
                    Add
                </button>
                <button class="btn btn-success btn-md" id="DeleteSelected" type="submit">
                    Remove
                </button>
                <button class="btn btn-danger btn-md" id="SortAsc" type="submit">
                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                </button>
                <button class="btn btn-danger btn-md" id="SortDesc" type="submit">
                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                </button>
            </div>
        </div>
    </div>
</div>